{
  "name": "${node_pkg}",
  "version": "${node_version}",
  "license": "MIT",
  "os": ["${node_os}"],
  "cpu": ["${node_arch}"],
  "files": ["bin"],
  "bin": {
    "mail-imap-mcp-rs": "bin/${bin_name}"
  },
  "publishConfig": {
    "access": "public"
  }
}
